# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
spaces_around_operators = true
spaces_around_brackets = both
charset = utf-8
end_of_line = lf
insert_final_newline = false
spaces_around_operators = true
indent_brace_style = K&R

[*.js]
quote_type = single
curly_bracket_next_line = true